<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/homestyle.css">
    <meta charset="UTF-8">
    <title>Authors | CatNews</title>
</head>
<body>
<header>
    <b>Новинний ресурс "CatNews"</b>
    <p id="small-text">Заснований Іваном Лисенком у 2024</p>
</header>
<div id="links">
    <button name="Home"><a href="/">Головна</a></button>
    <button name="News"><a href="/news">Новини</a></button>
    <button name="Authors"><a href="/authors">Автори</a></button>
</div>

<ul>
    <li id="newstext">Список авторів</li>
    {% for author in authors %}
    <li class="news-item">
        <a href="/authors/{{ author.id }}" class="news-link">
            <div class="news-id">Author {{ author.id }} </div>
            <div class="news-name">{{ author.surname }} {{ author.name }}</div>
            <div class="news-text">--- {{ author.short_text }}</div>
        </a>
    </li>
    {% endfor %}
</ul>

</body>
</html>
