<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="stylesheet" href="static/css/homestyle.css">
    <meta charset="UTF-8">
    <title>News | Home</title>
</head>
<body>
<header>
    <b>Новинний ресурс "CatNews"</b>
    <p id="small-text">Заснований Іваном Лисенком у 2024</p>
</header>
<div id="links">
    <button name="Home"><a href="/">Головна</a></button>
    <button name="News"><a href="/news">Новини</a></button>
    <button name="Authors"><a href="/authors">Автори</a></button>
</div>

<ul>
    <li id="newstext">Усі новини</li>
    {% for new in news %}
    <li class="news-item">
        <a href="/news/{{ new.id }}" class="news-link">
            <div class="news-id">#{{ new.id }}</div>
        <div class="news-name">{{ new.name }}</div>
        <div class="news-meta">{{ new.author }} - {{ new.date }}</div>
        <div class="news-text">{{ new.text|slice:"0:100" }}...</div>
        </a>
    </li>
    {% endfor %}
</ul>

</body>
</html>